@font-face {
    font-family: 'VTFMisterPixelRegular';
    src: url('/fonts/VTFMisterPixelRegular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'VTFMisterPixelTools';
    src: url('/fonts/VTFMisterPixelTools.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'teletext2';
    src: url('../fonts/teletext2-webfont.woff2') format('woff2');
    /* font-weight:400; */
    font-style:normal
}

html {
    background: #000;
}

body {
    color: #fff;
    font-size: 18px;
    font-family: 'teletext2';
}

pre {
    font-family: 'teletext2';
}

#parent {
}

.center {
    text-align: center;
}

#powered {
    position: fixed;
    right: 20px;
    bottom: 20px;
    text-align: right;
}

