<header class="site-header">
  <div class="wrapper">
    <a class="site-title" href="/"><img src="/images/logo4.png" alt="{{ site.title }}" style="margin: 9px 0 18px 0" title="Root"></a>
    <nav class="site-nav">
      <a href="#" class="menu-icon"><span>&#8801;</span></a>
      <div class="trigger">
        <ul style="list-style: none;">
          <li><a class="page-link" href="/" style="text-decoration:none;" title="/">/</a></li>
          <li><a class="page-link" href="/about/" style="text-decoration:none;" title="/about/">/about/</a></li>
          <li><a class="page-link" href="/blog/" style="text-decoration:none;" title="/blog/">/blog/</a></li>
          <!--<li><a class="page-link" href="/community/" style="text-decoration:none;" title="/community/">/community/</a></li>-->
          <li><a class="page-link" href="/contact/" style="text-decoration:none;" title="/contact/">/contact/</a></li>
          <li><a class="page-link" href="/development/" style="text-decoration:none;" title="/development/">/development/</a></li>
          <li><a class="page-link" href="/documentation/" style="text-decoration:none;" title="/documentation/">/documentation/</a></li>
          <li><a class="page-link" href="/examples/" style="text-decoration:none;" title="/examples/">/examples/</a></li>
          <li><a class="page-link" href="/faq/" style="text-decoration:none;" title="/faq/">/faq/</a></li>
          <li><a class="page-link" href="/tools/" style="text-decoration:none;" title="/tools/">/tools/</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>

