<header class="site-header">
  <div class="wrapper">
    <!--<a class="site-title" href="/"><img height="96" src="/images/logo.svg" alt="{{ site.title }}"></a>-->
    <nav class="site-nav">
      <a href="#" class="menu-icon"><span class="fa fa-bars" aria-hidden="true"></span></a>
      <div class="trigger">
        <ul style="list-style: none;">
          <li><a class="page-link" href="/" style="text-decoration: none;">/</a></li>
          <li><a class="page-link" href="/about/" style="text-decoration: none;">/about/</a></li>
          <li><a class="page-link" href="/contact/" style="text-decoration: none;">/contact/</a></li>
          <li><a class="page-link" href="/development/" style="text-decoration: none;">/development/</a></li>
          <li><a class="page-link" href="/documentation/" style="text-decoration: none;">/documentation/</a></li>
          <li><a class="page-link" href="/login/" style="text-decoration: none;">/login/</a></li>
          <li><a class="page-link" href="/search/" style="text-decoration: none;">/search/</a></li>
          <li><a class="page-link" href="/tools/" style="text-decoration: none;">/tools/</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>

