<header class="site-header">
  <div class="wrapper">
    <a class="site-title" href="/"><img height="64" src="/images/logo.png" alt="{{ site.title }}" style="margin: 18px 0 18px 0"></a>
    <nav class="site-nav">
      <a href="#" class="menu-icon"><span style="display:flex;font-size:24px;margin:12px 0 0 8px;padding:0px;">&#8801;</span></a>
      <div class="trigger">
        <ul style="list-style: none;">
          <li><a class="page-link" href="/" style="text-decoration: none;">/</a></li>
          <li><a class="page-link" href="/about/" style="text-decoration: none;">/about/</a></li>
          <li><a class="page-link" href="/blog/" style="text-decoration: none;">/blog/</a></li>
          <li><a class="page-link" href="/contact/" style="text-decoration: none;">/contact/</a></li>
          <li><a class="page-link" href="/development/" style="text-decoration: none;">/development/</a></li>
          <li><a class="page-link" href="/documentation/" style="text-decoration: none;">/documentation/</a></li>
          <li><a class="page-link" href="/examples/" style="text-decoration: none;">/examples/</a></li>
          <li><a class="page-link" href="/faq/" style="text-decoration: none;">/faq/</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>

